.darktheme{
background: #1a1b1f;
}

.whitetext{
color: white;
}

th[colspan="3"] {
    text-align: center;
}

.greytheme{
background-color: #28292b;
}

.titlebox{

}

html, body{
  height:100%;
  margin:0;
}

body {
  padding-top: 56px;
  display:flex; 
  flex-direction:column; 
}


footer{
  margin-top:auto; 
}

.carousel-item {
  height: 50vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.links {
  margin-bottom: 30px;
}

.py-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

th, td, tr {
  text-align: center;
  vertical-align: middle;
}

.skillresize{
max-width:100%;
max-height:100%;
}

a{
  color:inherit;
  text-decoration: none;
 }

 a:hover{
  color:grey;
  text-decoration: none;
 }

 #chartable td{
  padding:0;
 }

 #chartable th{
  padding:0.5rem;
 }
 
.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; /*magic*/
}

.responsive {
  max-width:100%;
  max-height:100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}